<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manifest</title>
    <style>
        .container {
            background: #f9f9f9;
        }

        .flex-column {
            max-width: 300px;
        }

        img {
            margin: 25px;
        }

        .scale {
            transform: scaleY(1);
            padding-top: 5px;
        }
    </style>
</head>
<link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/flatly/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-T5jhQKMh96HMkXwqVMSjF3CmLcL1nT9//tCqu9By5XSdj7CwR0r+F3LTzUdfkkQf" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<body>
<div class="mx-auto" style="width: 80%;">
    <h1>Extracted data per manifest</h1>

    <table class="table table-bordered table-hover">
        <tr class="table-primary">
            <th style="width: 15%">Manifest</th>
            <td><a href="{{item.id}}">{{item.id}}</a></td>
        </tr>
        <tr>
            <th>Universal Viewer</th>
            <td><a href="{{item.uv}}">UV</a></td>
        </tr>
        <tr>
            <th>Mirador</th>
            <td><a href="{{item.mirador}}">Mirador</a></td>
        </tr>
        <tr>
            <th>Number of pages</th>
            <td>{{item.number_of_pages}}</td>
        </tr>
                <tr>
            <th>Link to detailed data</th>
            <td><a href="{{item.further_data}}">Here</a></td>
        </tr>
        <tr>
            <th>Subjects--Likely</th>
            <td>
                {% for likely in item.subjects_likely %}
                {{likely}}<br>
                {% endfor %}
            </td>
        </tr>
                <tr>
            <th>Subjects--Possible</th>
            <td>
                {% for likely in item.subjects_possible %}
                {{likely}}<br>
                {% endfor %}
            </td>
        </tr>
        <th>Keywords--Document Only</th>
            <td>
                {% for keyword in item.keywords %}
                {{keyword.keyword}},&nbsp;
                {% endfor %}
            </td>
        </tr>
        <th>Keywords--Relative to Entire Corpus</th>
            <td>
                {% for corp_keyword in item.corpus_relative_keywords %}
                {{corp_keyword.keyword}},&nbsp;
                {% endfor %}
            </td>
        </tr>
                <th>Bigrams</th>
            <td>
                {% for bigram in item.top_10_bigrams %}
                {{bigram}},&nbsp;
                {% endfor %}
            </td>
        </tr>
            <th>Common terms</th>
            <td>
                {% for word in item.top_10_words %}
                {{word}},&nbsp;
                {% endfor %}
            </td>
        </tr>
        <th>Named entities</th>
            <td>
                {% if item.entities %}
                <ul>
            {% for key, value in item.entities.items() %}
                <dt>{{ key }}</dt>
                <dd>{% for v in value %}
                    {{v}}<br>
                    {% endfor %}</dd>
              {% endfor %}
                    </ul>
                {% endif %}
            </td>
        </tr>
             </tr>
            <th>Extractive summaries</th>
            <td>
                {% for summary in item.text_summaries %}
                <p>
                <em>{{summary.summarizer}}</em>: <br> {{summary.summary}}
                </p>
                {% endfor %}
            </td>
        </tr>
        <th colspan="2" style="text-align: left">Page level data</th>
        </tr>
    </table>
</div>
</body>
</html>